*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  align-items: center;
  gap: 34px;
  background-color: black;
}

li{
  list-style-type: none;
  color: #fff;
  padding: 23px;
}

a{
  text-decoration: none;
}

.red{
  background-color: red;
}

